.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    color: dimgrey;
    cursor: pointer;
    font-size:medium;
    font-weight: lighter;
    text-decoration: none;
}

.image{
    width: 280px;
    height: 420px;
}


.movieItem{
    color: dimgrey;
    cursor: pointer;
    font-size:medium;
    font-weight: lighter;
    text-decoration: none;
    padding-bottom: 20px;
    text-align: center;
    width: 280px;
}

.movieItem:hover{
    color: rgb(110, 73, 73);
    text-shadow: 2px dimgrey;
    scale: 110%;
}

.detailsContainer{
    display: flex;
    gap: 15px;
    cursor:auto;
    color: dimgrey;
    font-weight: lighter;
    text-decoration: none;
}

.detailsImage{
    width: 280px;
    height: 420px;
    margin-right: 10px;
}

.button{
    color: dimgrey;
    cursor: pointer;
    font-size:large;
    font-weight: lighter;
    text-decoration: none;
}

.button:hover{
    color: rgb(110, 73, 73);
    scale: 115%;
}

.buttonContainer{
    display: inline-flex;
    gap: 20px;
    padding: 25px;
}
